<ion-header>
  <ion-toolbar>
    <ion-title>Listen now</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToProfile()" fill="clear">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="example-content">
    <div style="text-align: center;">
      <ion-icon name="musical-notes" style="font-size: 48px; margin-bottom: 10px;"></ion-icon><br>
      Home Content
      <br><br>
    </div>
  </div>
</ion-content>
