<ion-tabs>
  <ion-tab tab="home">
    <div id="home-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Listen now</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">Listen now content</div>
      </ion-content>
    </div>
  </ion-tab>

  <ion-tab tab="radio">
    <div id="radio-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Radio</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">Radio content</div>
        <ion-button expand="block" (click)="iniciarStream()">Iniciar Stream (con Cámara)</ion-button>
        <ion-button expand="block" (click)="iniciarSoloAudio()">Iniciar Stream (solo Audio)</ion-button>
        <video id="miVideo" autoplay muted playsinline></video>
      </ion-content>
    </div>
  </ion-tab>

  <ion-tab tab="library">
    <div id="library-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Library</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">Library content</div>
      </ion-content>
    </div>
  </ion-tab> <ion-tab tab="search">
    <div id="search-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Search</ion-title>
        </ion-toolbar>
        
        <ion-toolbar>
          <ion-searchbar 
            placeholder="Busca una canción..." 
            (ionInput)="handleSearch($event)">
          </ion-searchbar>
        </ion-toolbar>
      </ion-header> 
      
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let track of searchResults">
            <ion-thumbnail slot="start">
              <img [src]="track && track.image && track.image.length ? track.image[track.image.length - 1]['#text'] : ''" />
            </ion-thumbnail>
            <ion-label>
              <h2>{{ track.name }}</h2>
              <p>{{ track.artist }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </div>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="play-circle"></ion-icon>
      Listen Now
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="radio"></ion-icon>
      Radio
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>